body {
  margin: 0;
  padding: 0;
  width:100%;
   margin: 0 auto; /* Отступ слева и справа */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    color:MidnightBlue ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toggle {
  border: 10px solid gray;
  color: pink;

}

.main{
 width:95%;
  margin: 20px auto; /* Отступ слева и справа */
 padding: 10px;
 text-align: center;
 border-radius: 10px;
 /*background-color: WhiteSmoke;*/
 background: rgba(255,255,255,1);
 background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
 background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(179,204,223,1)));
 background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
 background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
 background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
 background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b3ccdf', GradientType=1 );
 min-width:500px;
}

.toggleContainer{
  line-height: 2;
    padding: 10px;
  display: flex;
  justify-content: space-around;
}

.inputPanel{
  padding: 10px;
  background-color: Transparent;
  color:MidnightBlue;
}

.inputPanel > p {
  color:MidnightBlue;
}
.maintext{
  color:MidnightBlue;

   font-family: 'Ultra', sans-serif;
    text-shadow: 0px 0px 10px white;
}

.graph{

  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid CornflowerBlue;
}

.graph > *{
  background-color: white;
}
.plusminus{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.plus_minus:active{
  border: 50px solid gray;
}
.graphContainer{
    padding: 10px;
    margin: 20px;
    background-color: Transparent;
    border: 1px solid CornflowerBlue;
    border-radius: 10px;
}
.plain{
  text-align: right;
}
.buttonContainer{
  padding: 5px;

  border-radius: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(179,204,223,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(179,204,223,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b3ccdf', GradientType=1 );


    line-height: 1px;
}
